
$barra:#bedbbb;
$botonComprar:#255605;
$borde-caja:#707070;
$caja-color:#223137;
$caja-jumbotron:#223137;
$color-menu:#223137;
$color-titulo:#255605;
$negro:black;
$borde-negro:black;
$main:navajowhite;
$body:#255605;
$texto:white;
$texto-footer:grey;
$texto-caja:whitesmoke;
$titulo-tabla:palegreen;
$footer-color:whitesmoke;
$sombra:darkblue;