
$barra:#bedbbb;
$borde-caja:#707070;
$caja-color:#bedbbb;
$caja-jumbotron:#223137;
$color-menu:#223137;
$color-titulo:white;
$negro:black;
$borde-negro:black;
$main:#92817a;
$body:#8db596;
$texto:white;
$texto-caja:darkblue;
$titulo-tabla:palegreen;
$footer-color:#223137;
$sombra:darkblue;