@import "colores";
@import "variables";
/*para index*/
body {
    @include body($body, 100%, 100%);
    display: block;
    main {
        @include main($main, 100%, 100%);
        div {
            div {
                .table td,
                .table th {
                    padding: 0.75rem;
                    vertical-align: initial;
                    border-top: 1px solid #dee2e6;
                }
                thead {
                    background-color: $titulo-tabla;
                    th {
                        color: darkblue;
                        font-size: small;
                        text-align: center;
                    }
                    td {
                        color: rgb(4, 77, 8);
                        text-align: center;
                    }
                }
                tbody {
                    tr {
                        border-top: 1px solid #dee2e6;
                        padding: 0.75rem;
                        text-align: center;
                        td {
                            p {
                                margin-top: auto;
                                margin-bottom: 0;
                                padding-left: 10px;
                            }
                        }
                    }
                }
                header {
                    div {
                        .text-dark {
                            color: #343a40 !important;
                            text-align: center;
                        }
                        section {
                            background-color: $main;
                            border-bottom: 5px solid $body;
                            .bar-centro {
                                color: $texto;
                                text-align: center;
                            }
                            .bar-left {
                                color: $texto;
                                text-align: right;
                            }
                            div {
                                /*barra header*/
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: small;
                                @media only screen and (min-width: 1441px) and (max-width: 2700px) {
                                    width: 1100px;
                                }
                                @media only screen and (min-width: 1025px) and (max-width: 1440px) {
                                    width: 460px;
                                }
                                @media only screen and (min-width: 1024px) and(max-width:1100px) {
                                    width: 321px;
                                }
                                @media only screen and (min-width: 767px) and(max-width:1023px) {
                                    width: 250px;
                                }
                                @media only screen and (min-width: 424px) and(max-width:766px) {
                                    width: 121px;
                                }
                            }
                        }
                        .navbar-nav {
                            text-align: right;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            padding-left: 0;
                            margin-bottom: 0;
                            list-style: none;
                            @media only screen and (min-width: 1970px) and (max-width: 2700px) {
                                padding-left: 70%;
                            }
                            @media only screen and (min-width: 1544px) and (max-width: 1969px) {
                                padding-left: 60%;
                            }
                            @media only screen and (min-width: 1441px) and (max-width: 1543px) {
                                padding-left: 45%;
                            }
                            @media only screen and (min-width: 1111px) and (max-width: 1440px) {
                                padding-left: 40%;
                            }
                            @media only screen and (min-width: 1024px) and(max-width:1110px) {
                                padding-left: 10%;
                            }
                        }
                        .navbar-dark .navbar-nav .nav-link {
                            color: $texto;
                            text-align: center;
                        }
                        nav {
                            /*barra navegacion*/
                            .navbar-toggler {
                                padding: 0.25rem 0.75rem;
                                font-size: 1.25rem;
                                line-height: 1;
                                background-color: $body;
                                border: 3px solid #707070;
                                border-radius: 0.25rem;
                            }
                            ul {
                                display: flex;
                                justify-content: center;
                                list-style: none;
                                margin: 0rem;
                                padding: 0rem;
                                li {
                                    background-color: $color-menu;
                                    border: solid $borde-negro;
                                    border-radius: 10px;
                                    color: $negro;
                                    display: inline-block;
                                    height: 2.25rem;
                                    margin: 0.313rem;
                                    text-decoration: none;
                                    width: 10.5rem;
                                    .dropdown-menu {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        z-index: 1000;
                                        display: none;
                                        float: left;
                                        min-width: 10rem;
                                        padding: 0.5rem 0;
                                        margin: 0.125rem 0 0;
                                        font-size: 1rem;
                                        color: $texto;
                                        text-align: center;
                                        list-style: none;
                                        background-color: $color-menu;
                                        background-clip: padding-box;
                                        border: 2px solid $borde-negro;
                                        border-radius: 0.25rem;
                                    }
                                    span {
                                        color: $texto;
                                        padding-right: 50px;
                                    }
                                    .dropdown-item {
                                        /*hover*/
                                        display: block;
                                        width: 100%;
                                        padding: 0.25rem 1.5rem;
                                        color: whitesmoke;
                                        clear: both;
                                        font-weight: 400;
                                        text-align: inherit;
                                        white-space: nowrap;
                                        background-color: $color-menu;
                                        border: 0;
                                    }
                                    /*color letra menu*/
                                    a {
                                        align-content: center;
                                        color: $texto;
                                        font-family: arial;
                                        font-size: 13px;
                                        text-decoration: none;
                                        .navbar-dark .navbar-nav .nav-link {
                                            color: $negro;
                                        }
                                    }
                                    /*carrito de compra*/
                                    div {
                                        p {
                                            h4 {
                                                color: $texto;
                                                font-size: 15px;
                                            }
                                            button.carrito {
                                                background-color: $color-menu;
                                                border-radius: 10px;
                                                color: $texto;
                                            }
                                        }
                                        button {
                                            background-color: $botonComprar;
                                            border-radius: 10px;
                                            color: $texto;
                                            a{
                                                color: white;
                                            }
                                        }
                                        .carrito {
                                            background-color: green;
                                            border-radius: 10px;
                                            width: 166px;
                                            padding-left: 20px;
                                            padding-right: 20px;
                                            height: 31px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .jumbotron.dos {
                    background-image: url(../img/fondo.jpg);
                    background-size: cover;
                    opacity: 1;
                }
            }
            div {
                div {
                    div {
                        h2{
                            color: $negro;
                        }
                        p {
                            /*boton finalizar compra*/
                            button {
                                background-color: green;
                                border-radius: 10px;
                                color: $texto;
                                a {
                                    color: white;
                                    text-decoration: none;
                                    background-color: transparent;
                                }
                            }
                        }
                        div {
                            div {
                                .custom-select {
                                    background: none;
                                    background-color: $selector;
                                    color: $texto;
                                }
                            }
                        }
                    }
                }
            }
            h1 {
                p {
                    border-bottom: 0.125rem solid $color-titulo;
                    color: $color-titulo;
                    font-size: xxx-large;
                    text-align: center;
                    @include sombra($sombra);
                    @keyframes aparecer {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
            .caja {
                h3 {
                    p {
                        @include sombra($sombra);
                    }
                }
            }
            /*titulo secundario*/
            .h2,
            h2 {
                font-size: 1.3rem;
                color: $texto;
            }
            h2 {
                p {
                    border-bottom: 0.125rem solid $color-titulo;
                    color: $color-titulo;
                    font-size: 25px;
                    padding: 0.625rem;
                    text-align: center;
                    .acomodo {
                        @media only screen and (min-width: 350px) and (max-width: 500px) {
                            font-size: 19px;
                        }
                    }
                }
            }
            .formulario {
                @media only screen and (min-width: 350px) and(max-width: 423px) {
                    font-size: 16px;
                }
                @media only screen and (min-height: 350px) and(max-height: 423px) {
                    font-size: 14px;
                }
            }
            .padding {
                padding: 25px 10px;
                @media only screen and (min-width: 424px) and(max-width: 670px) {
                    padding: 20px 50px;
                }
            }
            .jumbotron {
                background-color: $caja-jumbotron;
                color: $texto;
                /*Para cajas contactos*/
                span {
                    font-size: 15px;
                }
                .box {
                    padding: 60px 0px;
                }
                .box-part {
                    background: #bedbbb;
                    border-radius: 10px;
                    padding: 60px 10px;
                    margin: 30px 0px;
                }
                .text {
                    margin: 20px 0px;
                }
                p {
                    margin-top: 4px;
                    margin-bottom: 2px;
                    color: $texto;
                }
            }
            .caja2 {
                @include caja($caja-color, 3px solid $borde-caja);
                p {
                    @include texto($texto-caja, ("Oswald", cursive, arial), center);
                }
            }
            .caja2.top {
                @include caja($caja-color, 3px solid $borde-caja);
                padding-top: 0px;
                p {
                    @include texto($texto-caja, ("Oswald", cursive, arial), center);
                }
            }
            h3 {
                padding: 1em;
                text-align: center;
            }
            div {
                /*Para cajas contactos*/
                span {
                    font-size: 15px;
                }
                .box {
                    padding: 60px 0px;
                }
                .box-part {
                    background: $caja-jumbotron;
                    border-radius: 10px;
                    padding: 60px 10px;
                    margin: 30px 0px;
                }
                .text {
                    margin: 20px 0px;
                }
                p.cajita {
                    margin-top: 4px;
                    margin-bottom: 2px;
                    color: $texto;
                }
                div {
                    .caja3 {
                        @include caja($caja-color, 3px solid $borde-caja);
                        animation-duration: 2s;
                        animation-name: aparecer;
                        animation-iteration-count: infinite;
                        padding-bottom: 60px;
                        p {
                            @include texto($texto-caja, ("Oswald", cursive, arial), center);
                        }
                    }
                    .caja3.top {
                        @include caja($caja-color, 3px solid $borde-caja);
                        padding-right: 20px;
                        padding-left: 20px;
                        padding-bottom: 60px;
                        p {
                            @include texto($texto-caja, ("Oswald", cursive, arial), center);
                        }
                    }
                }
                h4 {
                    color: $color-titulo;
                }
            }
        }
    }
    footer {
        div {
            div {
                div {
                    div {
                        div {
                            padding-top: 30px;
                            h3 {
                                color: green;
                            }
                            span {
                                a {
                                    text-align: left;
                                    font-size: 12px;
                                    color: $texto-footer;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include footer($footer-color, 1.5rem, center);
        p {
            @include texto($texto-footer, ("Oswald", cursive, arial), right);
            font-size: 15px;
            padding-right: 20px;
        }
    }
}
