@import "colores";
@import "variables";
/*para index*/
body {
    @include body($body, 100%, 100%);
    display: block;
    main {
        @include main($main, 100%, 100%);
        div {
            div {
                .table td,
                .table th {
                    padding: 0.75rem;
                    vertical-align: initial;
                    border-top: 1px solid #dee2e6;
                }
                thead {
                    background-color: $titulo-tabla;
                    th {
                        color: darkblue;
                        font-size: small;
                    }
                    td {
                        color: rgb(4, 77, 8);
                    }
                }
                header {
                    div {
                        .text-dark {
                            color: #343a40 !important;
                            text-align: center;
                        }
                        section {
                            background-color: $barra;
                            border-bottom: 5px solid #707070;
                            div {
                                /*barra header*/
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: small;
                                @media only screen and (min-width: 1441px) and (max-width: 2700px) {
                                    width: 1100px;
                                }
                                @media only screen and (min-width: 1025px) and (max-width: 1440px) {
                                    width: 460px;
                                }
                                @media only screen and (min-width: 1024px) and(max-width:1100px) {
                                    width: 321px;
                                }
                                @media only screen and (min-width: 767px) and(max-width:1023px) {
                                    width: 250px;
                                }
                                @media only screen and (min-width: 424px) and(max-width:766px) {
                                    width: 121px;
                                }
                                .barra-inicial {
                                    height: 60px;
                                }
                                .bar-centro {
                                    color: $texto;
                                    text-align: center;
                                }
                                .bar-right {
                                    color: $texto;
                                    text-align: right;
                                }
                            }
                        }
                        .navbar-nav {
                            text-align: right;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            padding-left: 0;
                            margin-bottom: 0;
                            list-style: none;
                            @media only screen and (min-width: 1970px) and (max-width: 2700px) {
                                padding-left: 70%;
                            }
                            @media only screen and (min-width: 1544px) and (max-width: 1969px) {
                                padding-left: 60%;
                            }
                            @media only screen and (min-width: 1441px) and (max-width: 1543px) {
                                padding-left: 60%;
                            }
                            @media only screen and (min-width: 1111px) and (max-width: 1440px) {
                                padding-left: 40%;
                            }
                            @media only screen and (min-width: 1024px) and(max-width:1110px) {
                                padding-left: 30%;
                            }
                        }
                        .navbar-dark .navbar-nav .nav-link {
                            color: $texto;
                            text-align: center;
                        }
                        nav {
                            background-color: $barra;
                            /*barra navegacion*/
                            .navbar-toggler {
                                padding: 0.25rem 0.75rem;
                                font-size: 1.25rem;
                                line-height: 1;
                                background-color: #223137;
                                border: 3px solid #707070;
                                border-radius: 0.25rem;
                            }
                            ul {
                                display: flex;
                                justify-content: center;
                                list-style: none;
                                margin: 0rem;
                                padding: 0rem;
                                li {
                                    background-color: $color-menu;
                                    border: solid $borde-negro;
                                    border-radius: 10px;
                                    color: $negro;
                                    display: inline-block;
                                    height: 2.25rem;
                                    margin: 0.313rem;
                                    text-decoration: none;
                                    width: 10.5rem;
                                    .dropdown-menu {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        z-index: 1000;
                                        display: none;
                                        float: left;
                                        min-width: 10rem;
                                        padding: 0.5rem 0;
                                        margin: 0.125rem 0 0;
                                        font-size: 1rem;
                                        color: $texto;
                                        text-align: center;
                                        list-style: none;
                                        background-color: $color-menu;
                                        background-clip: padding-box;
                                        border: 2px solid $borde-negro;
                                        border-radius: 0.25rem;
                                    }
                                    .dropdown-item {
                                        /*hover*/
                                        display: block;
                                        width: 100%;
                                        padding: 0.25rem 1.5rem;
                                        color: whitesmoke;
                                        clear: both;
                                        font-weight: 400;
                                        text-align: inherit;
                                        white-space: nowrap;
                                        background-color: $color-menu;
                                        border: 0;
                                    }
                                    /*color letra menu*/
                                    a {
                                        align-content: center;
                                        color: $texto;
                                        font-family: arial;
                                        font-size: 13px;
                                        text-decoration: none;
                                        .navbar-dark .navbar-nav .nav-link {
                                            color: $negro;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .jumbotron.dos {
                    background-image: url(../img/fondo.jpg);
                    background-size: cover;
                    color: $texto;
                }
            }
            h1 strom {
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-name: aparecer;
                border-bottom: 0.125rem solid $color-titulo;
                color: $color-titulo;
                font-size: xxx-large;
                text-align: center;
                @include sombra($sombra);
                @keyframes aparecer {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
            .caja {
                h3 {
                    p {
                        @include texto($texto, ("Oswald", cursive, arial), center);
                        @include sombra($sombra);
                    }
                }
            }
            /*titulo secundario*/
            .h2,
            h2 {
                font-size: 1.3rem;
                color: $texto;
            }
            h2 strom {
                border-bottom: 0.125rem solid $color-titulo;
                color: $color-titulo;
                font-size: 25px;
                padding: 0.625rem;
                text-align: left;
            }
            .jumbotron {
                background-color: $caja-jumbotron;
                color: $texto;
                /*Para cajas contactos*/
                span {
                    font-size: 15px;
                }
                .box {
                    padding: 60px 0px;
                }
                .box-part {
                    background: #bedbbb;
                    border-radius: 10px;
                    padding: 60px 10px;
                    margin: 30px 0px;
                }
                .text {
                    margin: 20px 0px;
                }
                p {
                    margin-top: 4px;
                    margin-bottom: 2px;
                    color: $texto;
                }
            }
            .caja2 {
                @include caja($caja-color, 3px solid $borde-caja);
                p {
                    @include texto($texto-caja, ("Oswald", cursive, arial), center);
                }
            }
            h3 {
                padding: 1em;
                text-align: left;
            }
            div {
                /*Para cajas contactos*/
                span {
                    font-size: 15px;
                }
                .box {
                    padding: 60px 0px;
                }
                .box-part {
                    background: #bedbbb;
                    border-radius: 10px;
                    padding: 60px 10px;
                    margin: 30px 0px;
                }
                .text {
                    margin: 20px 0px;
                }
                p.cajita {
                    margin-top: 4px;
                    margin-bottom: 2px;
                    color: black;
                }
                div {
                    .caja3 {
                        @include caja($caja-color, 3px solid $borde-caja);
                        animation-duration: 2s;
                        animation-name: aparecer;
                        animation-iteration-count: infinite;
                        p {
                            @include texto($texto-caja, ("Oswald", cursive, arial), center);
                        }
                    }
                }
            }
        }
    }
    footer {
        div {
            div {
                div {
                    div {
                        div {
                            padding-top: 30px;
                            h3 {
                                color: green;
                            }
                            span {
                                a {
                                    text-align: left;
                                    font-size: 12px;
                                    color: $texto;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include footer($footer-color, 1.5rem, center);
        p {
            @include texto($texto, ("Oswald", cursive, arial), right);
            font-size: 15px;
            padding-right: 20px;
        }
    }
}
