/*para index*/

body {
    background-color: coral;
    display: block;
    height: 100%;
    width: 100%;

    main {
        background-color: coral;
        height: 100%;
        width: 100%;

        div {
            div {
                table {
                    background: antiquewhite;
                    margin: 20px;
                    padding: 5px 5px;
                    text-align: initial;
                    thead {
                        background-color: palegreen;

                        th {
                            color: darkblue;
                            font-size: small;
                        }

                        td {
                            color: rgb(4, 77, 8);
                        }
                    }
                }
                header {
                    div {
                        div {
                            /*barra header*/
                            @media only screen and (min-width: 782px) {
                                div.barra-inicial {
                                    background-color: black;
                                    height: 60px;
                                    width: 100%;
                                }
                                div.bar-centro {
                                    color: white;
                                    text-align: center;
                                }
                                div div.bar-right {
                                    color: white;
                                    text-align: right;
                                }
                            }
                        }
                        .navbar-dark .navbar-nav .nav-link {
                            color:white;
                            text-align: center;
                        }
                        nav {
                            /*barra navegacion*/
                            ul {
                                display: flex;
                                justify-content: center;
                                list-style: none;
                                margin: 0rem;
                                padding: 0rem;

                                li {
                                    background-color: orange;
                                    border: solid black;
                                    border-radius: 10px;
                                    color: black;
                                    display: inline-block;
                                    height: 2.25rem;
                                    margin: 0.313rem;
                                    text-decoration: none;
                                    width: 10.5rem;

                                    .dropdown-menu {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        z-index: 1000;
                                        display: none;
                                        float: left;
                                        min-width: 10rem;
                                        padding: .5rem 0;
                                        margin: .125rem 0 0;
                                        font-size: 1rem;
                                        color: white;
                                        text-align: center;
                                        list-style: none;
                                        background-color: orange;
                                        background-clip: padding-box;
                                        border: 2px solid black;
                                        border-radius: .25rem;
                                    }

                                    .dropdown-item {
                                        /*hover*/
                                        display: block;
                                        width: 100%;
                                        padding: 0.25rem 1.5rem;
                                        color: whitesmoke;
                                        clear: both;
                                        font-weight: 400;
                                        text-align: inherit;
                                        white-space: nowrap;
                                        background-color: orange;
                                        border: 0;
                                    }

                                    /*color letra menu*/

                                    a {
                                        align-content: center;
                                        color: white;
                                        font-family: "Goldman", cursive, arial;
                                        font-size: 11px;
                                        text-decoration: none;
                                        .navbar-dark .navbar-nav .nav-link {
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            h1 strom {
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-name: aparecer;
                border-bottom: 0.125rem solid black;
                color: black;
                font-size: xxx-large;
                text-align: center;

                @keyframes aparecer {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }

            .caja {
                align-items: flex-start;
                background-color: rgb(29, 88, 10);
                background-image: linear-gradient(green, yellow);
                border: 3px solid gold;
                border-radius: 10px;
                display: flex;
                justify-content: stretch;
                grid-area: caja;
                margin: 1.25rem 0.313rem;
                p {
                    display: block;
                    color: white;
                    font-family: "Goldman", cursive, arial;
                    text-align: center;
                }
            }
            /*titulo secundario*/
            .h2,
            h2 {
                font-size: 1.3rem;
            }
            h2 strom {
                border-bottom: 0.125rem solid black;
                color: black;
                font-size: large;
                padding: 0.625rem;
                text-align: left;
            }
            .caja2 {
                align-items: flex-start;
                background-color: rgb(29, 88, 10);
                background-image: linear-gradient(green, yellow);
                border: 3px solid gold;
                border-radius: 10px;
                display: flex;
                grid-area: caja2;
                justify-content: stretch;
                margin: 1.25rem 0.313rem;
                p {
                    display: block;
                    color: white;
                    font-family: "Goldman", cursive, arial;
                    text-align: center;
                }
            }
            h3 {
                padding: 1em;
                text-align: left;
            }
            div {
                div {
                    .caja3 {
                        align-items: flex-start;
                        animation-duration: 2s;
                        animation-name: aparecer;
                        animation-iteration-count: infinite;
                        background-color: rgb(29, 88, 10);
                        background-image: linear-gradient(green, yellow);
                        border: 3px solid gold;
                        border-radius: 10px;
                        grid-area: caja3;
                        justify-content: stretch;
                        margin: 1.25rem 0.313rem;
                        p {
                            display: block;
                            color: white;
                            font-family: "Goldman", cursive, arial;
                            text-align: center;
                        }
                    }
                }
            }
            /*caja del h3*/
            .ir-contacto {
                align-items: flex-start;
                animation-duration: 5s;
                animation-name: aparecer;
                animation-iteration-count: infinite;
                background-color: rgb(29, 88, 10);
                display: flex;
                grid-area: ir-contacto;
                height: 3.125rem;
                justify-content: space-around;
                line-height: 3.125rem;
                margin: 0px 0.313rem;
            }
        }
    }
    footer {
        background-color: #223137;
        font-size: 1.5rem;
        grid-area: footer;
        text-align: center;
        width: 100%;
        p {
            display: block;
            color: white;
            font-family: "Goldman", cursive, arial;
            text-align: center;
        }
    }
}
